---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Manage Sites";
---

<html lang="en">
    <body>
        <BaseLayout pageTitle={pageTitle}>
            <h2>Yo Yo Yo hay...</h2>
            <h2>Show me the sites:</h2>
            <p>Dig?</p>
        </BaseLayout>
    </body>
</html>
