---
import BaseLayout from "../layouts/BaseLayout.astro";
import type { Site } from '../types';
import type { Cert } from '../types';
import SitesTable from '../components/SitesTable.svelte';
const pageTitle = "Sites and certs report";
const sites: Site[] = [];

try {
    let response = await fetch('http://localhost:3000/sites/');
    let theJson = await response.json();
    theJson.forEach((element) => {
        sites.push(element);
    });

    response = await fetch('http://localhost:3000/certs/');
    theJson = await response.json();
    let certs = new Map();
    if (theJson) {
        for (const entry of theJson) {
            certs.set(entry.id, entry);
        }
    } else {
        console.log("No certs were found...");
    }

    for (const entry of sites) {
        if (certs.has(entry.certid.toString())) {
            entry.expirydate = certs.get(entry.certid.toString()).expirydate;
            entry.issuedate = certs.get(entry.certid.toString()).issuedate;
            entry.issuer = certs.get(entry.certid.toString()).issuer;
            entry.subject = certs.get(entry.certid.toString()).subject;
        }
    }
} catch (error) {
    console.error("The sites and certs page blew up:" + error);
}
---
<!-- Data fetched at build can be rendered in HTML -->
<html lang="en">
    <body>
        <BaseLayout pageTitle={pageTitle}>
            <SitesTable sites={sites} />
        </BaseLayout>
    </body>
</html>
