---
import WWUHeader from "../components/WWUHeader.astro";
import WWUFooter from "../components/WWUFooter.astro";
//import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link
            href="https://ashlar.blob.core.windows.net/ashlar-theme-files/css/components/wordpress.css"
        />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
    <body>
        <WWUHeader />
        <h1>{pageTitle}</h1>
        <!--  <main class="page-content" id="main-content"> page-content class makes display too narrow -->
        <main class="" id="main-content">
            <slot />
            <!--</main> -->
        </main>
        <WWUFooter />
        <script>
            //import "../scripts/menu.js";
        </script>
    </body>
</html>
